$bg-color: #b9b9bf;
$main-color: #222;
$style-color: darkCyan;
$font-stack: Roboto-Regular;
$font-title: Roboto-Bold;
$font-subtitle: Roboto-Medium;
$font-quote: Roboto-Thin;

$darker-bg: darken($bg-color, 70%);
$lighter-color: lighten($main-color, 70%);

// search-box line height and icon height. Defines the height of all the searchboxes added
$search-box-height: 2em;