@import 'config';
@import 'mixins';

body {
  font-family: $font-stack;
  margin: 0 auto;

  #main-container {
    background-color: $bg-color;
    height: 100vh;
    width: 100%;
    @include flex(row);
  }
}

#toolbar {
  flex: 20;
  height: 100vh;
  min-width: $min-width-toolbar + 50;
  overflow: auto;

  #list-places {
    margin: 1em 0;

    .search-box-container {
      @include flex(row);
    }
    .search-box {
      background: transparent;
      border: 0;
      border-bottom: 1px solid $style-color;
      color: $style-color;
      font-family: $font-subtitle;
      line-height: $search-box-height;
      margin: .5em 0;
      min-width: $min-width-toolbar;
    }
    .cross-delete {
      background: url('imgs/cancel.svg') center no-repeat;
      background-size: contain;
      height: $search-box-height;
      right: 0;
      width: 20px;
    }
    .path-info-data {
      @include flex(row);
      @include flex-space-center();
    }
  }
  #add-place {
    background: darkcyan;
    border: 0;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 0 $main-color;
    font-family: $font-stack;
    margin: 3px 10px;
    padding: 5px 25px;
    text-transform: uppercase;
  }
}

#map {
  flex: 80;
  height: 100vh;
}

.down-arrow-icon {
  background: url('imgs/down-arrow.svg') center no-repeat;
  background-size: contain;
  height: $search-box-height;
  right: 0;
  width: 20px;
}

.vertical-drag-icon {
  background: url('imgs/expand.svg') center no-repeat;
  background-size: contain;
  height: $search-box-height;
  right: 0;
  width: 20px;
}

#floating-info {
  bottom: 20px;
  position: absolute;
  right: 50px;
  text-align: center;
  z-index: 5;
}

.marker-container {

  &:hover {
    background-color: rgba(255,255,255, 0.3);
  }
}
